* {
    left: 0;
    right: 0;
    padding: 0;
    list-style: none;
    color: #000;
    margin: 0;
    font-weight: 300;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Syne';
    transition: 0.5s;
}
.logo h1 {
    font-weight: 600;
    color: #474747;
}

.logo h1:hover {
    transform: rotateY(360deg);
    transition: 3s;
}
.header {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-left: 1.5rem;
}
.menu i {
    display: none;
}
.searchbar input {
    padding: 0.8rem;
    margin-top: -5px;
    border-radius: .5rem;
    border: none;
    background-color: #eee;
    width: 450px;
}
.searchbar input::placeholder {
    font-weight: 500;
}
nav {
    margin-left: 4rem;
    margin-top: 0.5rem;
}
.nav ul{
    display: flex;
    gap: 3rem;
    font-size: 13px;
}
.nav ul li a {
    font-weight: 400;
}
.hmimg {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    width: 1200px;
    height: 350px;
    background-image: url(../images/inPersonEventsAssociations.jpg);
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    border-radius: .5rem;
    margin-left: 1.9rem;
    /* box-shadow: 20px 20px 50px grey; */
}
.buttons a {
    background-color: #fff;
    padding: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: .5rem;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 14px;
}
.buttons {
    margin-right: 39rem;
    margin-top: 18.5rem;
}
.buttons a:hover {
    font-size: 14px;
    color: #fff;
    background-color: #000;
}
.hmimg h1 {
  color: white;
  line-height: 3rem;
  text-align: right;
  padding: 2rem;
  font-family: 'Great Vibes';
  font-size: 35px;
  letter-spacing: 2px;
  margin-top: 3.4rem;
  margin-right: 1rem;

}
.pop {
    font-weight: 600;
    font-size: 25px;
    padding: 5rem;
    padding-bottom: 0;
}
.navs ul{
    display: flex;
    gap: 2rem;
    font-size: 13px;
}
.navs ul li a {
    font-weight: 600;
    color: #4c4c4c;
}
.navs ul li a:hover {
    color: #000;
}
.navs {
    padding: 5rem;
    padding-top: 1rem;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: #474747;
    display: inline-block;
}
.ftlg {
    color: #fff;
    padding: 2rem;
    padding-bottom: 0;
}
.qlinks label {
    color: #fff;
    margin-left: 2rem;
    font-size: 14px;
}
.container label {
    color: #fff;
    margin-left: 2rem;
}
.qlinks h1 {
    color: #fff;
    font-size: 19px;
}
.qlinks ul li a{
    color: #bebdbd;
    font-size: 14px;
}
.col1 {
    margin-left: 2rem;
}
.col4 i {
    color: #474747;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
}
.qlinks {
    margin-top: 0.8rem;
    display: flex;
    gap: 9rem;
    line-height: 2rem;
}
.msg{
    color: #fff;
    font-size: 12px;
    padding: 2rem;
    margin-top: 1.5rem;
}
.cotc {
    padding: 2rem;
    font-weight: 600;
    margin-left: 1.2rem;
    margin-top: 2rem;
}

.all {
    padding: 4rem;
    margin-top: -4rem;
    margin-left: -1rem;
}
.row1 {
    display: flex;
    gap: 1rem;
}

.row2 {
    display: flex;
    gap: 1rem;
}

.all p {
    padding: 1.3rem;
    background-color: #eee;
    border: none;
    border-radius: .2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    cursor: pointer;
}

.all p:hover {
    background-color: #d4d4d4;
}

.all i {
    padding-right: 1rem;
    padding-left: 0rem;
    color: rgb(226, 101, 11);
}
.active-link {
    color: #000;
}